.advice__image {
	display: block;
	margin-bottom: 48px;
}



.advice:not(:last-child) {
	padding-bottom: 53px;
}

.advice:last-child {
	padding-bottom: 86px;
}

.advice__title {
	font-weight: 700;
}

.advice__stage:not(:last-child) {
	margin-bottom: 53px;
}

.advice__text:nth-last-child(n+2) {
	margin-bottom: 53px;
}

.advice__text:nth-child(odd):not(:first-of-type) {
	margin-bottom: 63px;
}