.advice__image {
	display: block;
	margin-bottom: 48px;
}

.advice__text:not(.advice__text_indent) {
	padding-bottom: 53px;
}

.advice__text_indent {
	margin-bottom: 63px;
}

.advice__title {
	font-weight: 700;
}