.header {
	padding-top: 100px;
	padding-bottom: 48px;

}

.header__title {
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 58px;
}

.header__text {}

.header__text:not(:last-child) {
	margin-bottom: 52px;
}

.header__list {
	padding-left: 17px;
	margin-bottom: 50px;
}

.header__item {
	color: #525252;
	font-size: 16px;
}