@font-face {
	font-family: Lato;
	src: local("Lato"), local("Lato Regular"), local("Lato-Regular"),
		url("../fonts/Lato/lato-regular.woff2") format("woff2"),
		url("../fonts/Lato/lato-regular.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: Lato;
	src: local("Lato"), local("Lato Bold"), local("Lato-Bold"),
		url("../fonts/Lato/lato-bold.woff2") format("woff2"),
		url("../fonts/Lato/lato-bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Droid Serif";
	src: local("Droid Serif"), local("Droid Serif Regular"), local("Droid-Serif-Regular"), local("Droid-Serif"),
		url("../fonts/DroidSerif/DroidSerif.woff2") format("woff2"),
		url("../fonts/DroidSerif/DroidSerif.woff") format("woff");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Droid Serif";
	src: local("Droid Serif"), local("Droid Serif Bold"), local("Droid-Serif-Bold"), local("Droid-Serif"),
		url("../fonts/DroidSerif/DroidSerif-Bold.woff2") format("woff2"),
		url("../fonts/DroidSerif/DroidSerif-Bold.woff") format("woff");
	font-weight: 700;
	font-display: swap;
}


body {
	font-family: Lato, "Droid Serif", sans-serif;
	height: 100%;
	line-height: 1.5;
	font-size: 22px;
	color: #2d2d2d;
	font-weight: 400;
	margin: 0;

}

.wrapper {
	min-height: 100%;
	max-width: 1775px;
	margin: 0 auto;
	padding: 0 15px;
}

.article {
	padding: 50px 0 86px;
}

.container {
	max-width: 1095px;
}